<!-- Hero Seccion -->
<section class="hero-sec" style="background-image: url('./assets/imgs/bg/ganaderia.webp');">
	<div class="overlay-hero">
		<div class="animate__animated animate__fadeIn animate__delay-1s wow">
			<h1 class="title-hero">GANADERÍA</h1>
		    <span class="small-text-hero">Doña Lola</span>
		</div>
	</div>
</section>
<!-- /Hero Seccion -->


<!-- Secion de Imagenes -->
<section class="seccion-space">
	<article class="container">
		<div class="row">
			<div class="col-12" data-bs-toggle="modal" data-bs-target="#img1">
				<img class="w-100 border-radius-img shadow" src="./assets/imgs/1.webp" alt="">
			</div>

			<div class="col-6 mt-4" data-bs-toggle="modal" data-bs-target="#img2">
				<img class="w-100 border-radius-img shadow" src="./assets/imgs/2.webp" alt="">
			</div>

			<div class="col-6 mt-4" data-bs-toggle="modal" data-bs-target="#img3">
				<img class="w-100 border-radius-img shadow" src="./assets/imgs/3.webp" alt="">
			</div>
		</div>
	</article>
</section>
<!-- /Seccion de Imagenes -->


<!-- Seccion de descripción -->
<section class="seccion-space">
	<article class="container">
		<div class="row">
			<div class="col-12 text-center">
				<h3 class="title-seccion">Ganadería</h3>
			</div>
		</div>

		<div class="row">
			<div class="col-12 col-md-8 offset-0 offset-md-2">
				<ul>
					<li class="texto-grande mt-2">
						1. venta de becerras para pie de cria 
					</li>

					<li class="texto-grande mt-2">
						2. venta de becerros para pie de cria 
					</li>

					<li class="texto-grande mt-2">
						3. venta de becerro gordo para rastro 
					</li>

					<li class="texto-grande mt-2">
						4. venta de vacas para engorda
					</li>

					<li class="texto-grande mt-2">
						5. venta de becerros para engorda
					</li>

				</ul>

				<p class="texto-grande">
					<b>1. venta de becerras para pie de cria</b>
					<br>
                    Comienza tu granja o criadero de ganado con la mejor calidad en becerras de raza 100% cruza europea nosotros te ayudamos 
				</p>

				<p class="texto-grande">
					<b>2. venta de becerros para pie de cria</b>
					<br>
					Comienza tu granja ganadera garantizando la mejor calidad en becerros de razas europeas como charolais 100% 5/1 y cruzas de angus, simmental y charolais.
				</p>

				<p class="texto-grande">
					<b>3. venta de becerro gordo para rastro</b> 
					<br>
                    Tus ventas de carne con becerros bien rendidos y de la mejor calidad al canal.
                    Una engorda sin estrés y con la mejor calidad en alimentación, instalaciones y manejo en el ganado garantiza carne de calidad y canales bien rendidos. 
				</p>

				<p class="texto-grande">
					<b>4. venta de vacas para engorda</b>
					<br>
					Una engorda de ganado entre más rápido es mejor. Con nuestras vacas puedes recortar mucho el tiempo de engorda que le das a tu ganado. Tenemos vacas con tamaño bien establecido que te ayudarán a sacarles provecho rápidamente. 
				</p>


				<p class="texto-grande text-center">
					<b>TODO NUESTRO GANADO ESTÁ LIBRE DE BRUCELOSIS Y SE ENTREGA VITAMINADO Y DESPARACITADO.</b>
				</p>
			</div>
		</div>
	</article>
</section>
<!-- /Seccion de descripcion -->


<!-- Boton Flotante Whatsapp -->
<a href="https://api.whatsapp.com/send?phone=4422038783&text=Quiero%20m%C3%A1s%20informaci%C3%B3n%20sobre%20ganader%C3%ADa" 
class="btn boton-flotante animate__animated animate__pulse animate__infinite" 
[class.hide]="isScrolledToBottom">
	<i class="fa-brands fa-whatsapp"></i>
</a>
<!-- /Boton Flotante Whatsapp -->


<!-- Contacto Whatsapp Directo -->
<section class="bg-contactos py-5">
	<article class="container">
		<div class="row">
			<div class="col-12">
				<h3 class="title-form-contacto">¿Quieres más información?</h3>
			</div>
			<div class="col-12 container-btn-llamada">
				<div class="mt-3">
					<span class="">Cotizade manera sencilla</span>
				</div>

				<div class="mt-3">
					<button type="button" class="btn-green" routerLink="/formganaderia">
						Cotizar
					</button>
				</div>
			</div>
		</div>
	</article>
</section>
<!-- /Contacto Whatsapp Directo -->


<!-- Modal Img 1 -->
<div class="modal fade" id="img1" tabindex="-1" aria-labelledby="img1Label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
        <button type="button" class="btn-close" data-bs-dismiss="modal">
        	<span class="material-symbols-outlined">close</span>
        </button>
        <img class="w-100 border-radius-img shadow" src="./assets/imgs/1.webp" alt="">
    </div>
  </div>
</div>


<!-- Modal Img 2 -->
<div class="modal fade" id="img2" tabindex="-1" aria-labelledby="img1Label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
        <button type="button" class="btn-close" data-bs-dismiss="modal">
        	<span class="material-symbols-outlined">close</span>
        </button>
        <img class="w-100 border-radius-img shadow" src="./assets/imgs/2.webp" alt="">
    </div>
  </div>
</div>


<!-- Modal Img 3 -->
<div class="modal fade" id="img3" tabindex="-1" aria-labelledby="img1Label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
        <button type="button" class="btn-close" data-bs-dismiss="modal">
        	<span class="material-symbols-outlined">close</span>
        </button>
        <img class="w-100 border-radius-img shadow" src="./assets/imgs/3.webp" alt="">
    </div>
  </div>
</div>