<!-- Carrusel de Desktop -->
<section class="d-none d-md-block">
	<div id="carouselDesktop" class="carousel slide">
		<div class="carousel-inner">
		    <div class="carousel-item active">
		        <img src="./assets/imgs/carrusel/desk1.webp" class="d-block w-100" alt="banner carrusel 1">
		    </div>
		    <div class="carousel-item">
		        <img src="./assets/imgs/carrusel/desk2.webp" class="d-block w-100" alt="banner carrusel 2">
		    </div>
		    <div class="carousel-item">
		        <img src="./assets/imgs/carrusel/desk3.webp" class="d-block w-100" alt="banner carrusel 3">
		    </div>
		</div>

		<button class="carousel-control-prev" type="button" data-bs-target="#carouselDesktop" 
		data-bs-slide="prev">
		    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		    <span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselDesktop" 
		data-bs-slide="next">
		    <span class="carousel-control-next-icon" aria-hidden="true"></span>
		    <span class="visually-hidden">Next</span>
		</button>
	</div>
</section>
<!-- /Carrusel de Desktop -->


<!-- Carrusel de Desktop -->
<section class="d-block d-md-none">
	<div id="carouselMovile" class="carousel slide">
		<div class="carousel-inner">
		    <div class="carousel-item active">
		        <img src="./assets/imgs/carrusel/mov1.webp" class="d-block w-100" alt="banner carrusel 1">
		    </div>
		    <div class="carousel-item">
		        <img src="./assets/imgs/carrusel/mov2.webp" class="d-block w-100" alt="banner carrusel 2">
		    </div>
		    <div class="carousel-item">
		        <img src="./assets/imgs/carrusel/mov3.webp" class="d-block w-100" alt="banner carrusel 1">
		    </div>
		</div>

		<button class="carousel-control-prev" type="button" data-bs-target="#carouselMovile" 
		data-bs-slide="prev">
		    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		    <span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselMovile" 
		data-bs-slide="next">
		    <span class="carousel-control-next-icon" aria-hidden="true"></span>
		    <span class="visually-hidden">Next</span>
		</button>
	</div>
</section>
<!-- /Carrusel de Desktop -->


<!-- Seccion Banner 1 -->
<section class="seccion-space">
	<article class="container">
		<div class="row d-flex align-items-center">
			<div class="col-12 col-md-6 p-3 mb-5 mb-md-0">
				<h1 class="title-grande">Doña Lola</h1>
				<p class="texto-grande">
					Somos una marca de consumo con los más altos estandares de calidad orgullosamente mexicana, contamos con una gran cantidad de productos como azucar, azucar glas, piloncillo, canela, carbón, arroz, etc.
					<br>
					Podrás encontrar todos nuestros productos en las más de 10 ubicaciones de Super Mercados Acsa.
				</p>
				<button class="btn-green">Contactar</button>
			</div>

			<div class="col-12 col-md-6">
				<img class="w-100 shadow border-radius-img" 
				src="./assets/imgs/marcas.webp" alt="Banner 1">
			</div>
		</div>
	</article>
</section>
<!-- /Seccion Banner 1 -->


<!-- Seccion Marcas -->
<section class="seccion-space">
	<article class="container">
		<div class="row pb-5">
			<div class="col-12 text-center">
				<h3 class="title-seccion">Marcas</h3>
				<span class="title-dec-seccion">Conoce nuestras marcas</span>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-md-4 text-center mt-5 mt-md-0">
				<div class="p-2">
					<img class="w-100" src="./assets/imgs/madolores-largo.webp" 
					alt="Logo Doña Lola">
					<h3 class="title-card">Doña Lola</h3>
					<p class="texto text-justify">
						Somos una marca de consumo con los más altos estandares de calidad orgullosamente mexicana, contamos con una gran cantidad de productos como azucar, piloncillo, canela, carbón, etc. Podrás encontrar todos nuestros productos en las más de 10 ubicaciones de Super Mercados Acsa.
					</p>
					<div>
						<button class="btn-green" routerLink="/productos">Saber más</button>
					</div>
				</div>
			</div>


			<div class="col-12 col-md-4 text-center mt-5 mt-md-0">
				<div class="p-2">
					<img class="w-100" src="./assets/imgs/acsa-largo.webp" 
					alt="Logo Doña Lola">
					<h3 class="title-card">Super Acsa</h3>
					<p class="texto text-justify">
						Contamos con mas de 10 sucursales a lo largo de los estados de Guanajuato y Michoacan, lo que nos permite estar más cerca de ti y brindarte el mejor servicio. Recuerda que en ACSA, si nos compara… nos compra!
					</p>
					<div>
						<a class="btn-green" href="https://superacsa.com" target="_blanck">Saber más</a>
					</div>
					
				</div>
			</div>


			<div class="col-12 col-md-4 text-center mt-5 mt-md-0">
				<div class="p-2">
					<img class="w-100" src="./assets/imgs/rancho-largo.webp" 
					alt="Logo Doña Lola">
					<h3 class="title-card">Rancho Ma. D</h3>
					<p class="texto text-justify">
						Estamos comprometidos con brindar soluciones integrales para satisfacer todas las necesidades de nuestros clientes en el sector agrícola y ganadero.
					</p>
					<div>
						<button class="btn-green" 
						routerLink="/agricultura">Saber más</button>
					</div>
					
				</div>
			</div>
		</div>
	</article>
</section>
<!-- /Seccion Marcas -->


<!-- Seccion Carbonera -->
<section class="seccion-space">
	<article class="container">
		<div class="row pb-5">
			<div class="col-12 text-center">
				<h3 class="title-seccion">Más sobre nosotros</h3>
				<span class="title-dec-seccion">Contamos tambien con una carbonera y una embazadora.</span>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-md-6 text-center pointer mt-5 mt-md-0" routerLink="/carbonera">
				<div class="p-2">
					<img class="w-100" src="./assets/imgs/5.webp" 
					alt="Logo Doña Lola">
					<h3 class="title-card">Carbonera</h3>
					<p class="texto text-justify">
						El carbón Doña Lola nace de la necesidad de crear una marca propia que nos representará dentro y fuera del país, con calidad y duración inigualables en su segmento. El carbón es envasado dentro de nuestras instalaciones para asegurarnos de que el primero y el último sean iguales.
					</p>
				</div>
			</div>


			<div class="col-12 col-md-6 text-center pointer mt-5 mt-md-0" routerLink="/embasadora">
				<div class="p-2">
					<img class="w-100" src="./assets/imgs/4.webp" 
					alt="Logo Doña Lola">
					<h3 class="title-card">Embasadora</h3>
					<p class="texto text-justify">
						Continuando con el legado del carbón Doña Lola, surgen una serie de productos de marca propia para la empresa, buscando siempre manejar la mejor calidad, frescura y precio para nuestros clientes. Estos productos van desde los tradicionales azúcar y canela, así como piloncillo y especias.
					</p>
				</div>
			</div>
		</div>
	</article>
</section>
<!-- /Seccion Carbonera -->
