<!-- Hero Seccion -->
<section class="hero-sec" style="background-image: url('./assets/imgs/bg/bg1.webp');">
	<div class="overlay-hero">
		<div class="animate__animated animate__fadeIn animate__delay-1s wow">
			<h1 class="title-hero">AVISO DE PRIVACIDAD</h1>
		    <span class="small-text-hero">Doña Lola</span>
		</div>
	</div>
</section>
<!-- /Hero Seccion -->

<section>
	<article class="container">
		<div class="row">
			<div class="col-10 col-md-8 col-lg-6 offset-0 offset-md-2 offset-lg-3">
				<div class="seccion-space">
					<h2 class="title">AVISO DE PRIVACIDAD</h2>

					<div class="pt-3 pb-5">
						<p class="texto text-justify">
							En Ma. Dolores, nos comprometemos a proteger su privacidad en línea. Este aviso de privacidad describe las prácticas de privacidad de nuestro sitio web y cómo recopilamos, utilizamos y protegemos su información personal.
						</p>


						<b class="pt-3 mb-1">1. Información que recopilamos</b>
						<p class="texto text-justify">
							Recopilamos información personal que usted nos proporciona al hacer una compra, suscribirse a nuestro boletín informativo o ponerse en contacto con nosotros a través del formulario de contacto en nuestro sitio web. La información que recopilamos puede incluir su nombre, dirección, número de teléfono, dirección de correo electrónico y otra información que sea necesaria para procesar su pedido o responder a su consulta.
						</p>
						<p class="texto text-justify">
							Además, podemos recopilar información no personal sobre su visita a nuestro sitio web, como el tipo de navegador que utiliza, el sistema operativo de su computadora y la dirección IP de su computadora. Esta información se utiliza para mejorar nuestro sitio web y proporcionar una mejor experiencia de usuario.
						</p>


						<b class="pt-3 mb-1">2. Uso de la información</b>
						<p class="texto text-justify">
							Utilizamos la información que recopilamos para procesar su pedido, responder a su consulta o enviarle nuestro boletín informativo si se suscribe. También podemos utilizar la información para mejorar nuestro sitio web y personalizar su experiencia de usuario.
						</p>
						<p class="texto text-justify">
							No vendemos ni compartimos su información personal con terceros, excepto cuando sea necesario para procesar su pedido o cumplir con una obligación legal. Podemos compartir información no personal con terceros para mejorar nuestro sitio web y nuestros servicios.
						</p>


						<b class="pt-3 mb-1">3. Seguridad de la información</b>
						<p class="texto text-justify">
							Tomamos medidas razonables para proteger su información personal contra el acceso no autorizado, la alteración o la divulgación. Sin embargo, no podemos garantizar la seguridad absoluta de su información debido a la naturaleza de Internet.
						</p>

 	
						<b class="pt-3 mb-1">4. Enlaces a sitios web de terceros</b>
						<p class="texto text-justify">
							Nuestro sitio web puede contener enlaces a sitios web de terceros. No somos responsables de las prácticas de privacidad o el contenido de estos sitios web. Le recomendamos que revise las políticas de privacidad de estos sitios web antes de proporcionar cualquier información personal.
						</p>


						<b class="pt-3 mb-1">5. Cambios en nuestra política de privacidad</b>
						<p class="texto text-justify">
							Nos reservamos el derecho de modificar esta política de privacidad en cualquier momento sin previo aviso. Cualquier cambio en esta política de privacidad se publicará en nuestro sitio web.
						</p>


						<b class="pt-3 mb-1">6. Contacto</b>
						<p class="texto text-justify">
							Si tiene alguna pregunta o inquietud sobre nuestra política de privacidad o el uso de su información personal, por favor contáctenos a través del formulario de contacto en nuestro sitio web.
						</p>
						

						<small>Fecha de última actualización: 02 de Mayo del 2023</small>
					</div>
				</div>
			</div>
		</div>
	</article>
</section>
