/*
  font-family: 'Bebas Neue', cursive;
  font-family: 'Inter', sans-serif;
*/ 

.title-form-contacto {
	font-family: 'Bebas Neue', cursive;
	color: #1d1d1d;
	font-size: 28px;
}

.input-form-cont {
	width: 100%;
	display: block;
	height: 45px;
	margin-bottom: 18px;
	border: 1px solid rgba(0, 0, 0, .2);
	padding: 0px 12px;
	border-radius: 5px;
	font-family: 'Inter', sans-serif;
	color: #1d1d1d;
	transition: .3s ease-in-out;
}

.input-form-cont:focus {
	outline: none;
	border: 1px solid rgba(0, 0, 0, .7);
	transition: .3s ease-in-out;
}

.input-form-cont::placeholder {
	color: rgba(0, 0, 0, .2);
	font-family: 'Inter', sans-serif;
	font-size: 16px;
}

.textarea-form-cont {
	width: 100%;
	display: block;
	height: 200px;
	margin-bottom: 18px;
	border: 1px solid rgba(0, 0, 0, .2);
	padding: 8px 12px;
	border-radius: 5px;
	font-family: 'Inter', sans-serif;
	color: #1d1d1d;
	transition: .3s ease-in-out;
}

.textarea-form-cont:focus {
	outline: none;
	border: 1px solid rgba(0, 0, 0, .7);
	transition: .3s ease-in-out;
}

.container-btn-llamada {
	display: flex;
	justify-content: space-between;
	align-items: center;
}