<!-- Hero Seccion -->
<section class="hero-sec" style="background-image: url('./assets/imgs/bg/ganaderia.webp');">
	<div class="overlay-hero">
		<div class="animate__animated animate__fadeIn animate__delay-1s wow">
			<h1 class="title-hero">GANADERÍA</h1>
		    <span class="small-text-hero">Cotiza tu servicio</span>
		</div>
	</div>
</section>
<!-- /Hero Seccion -->



<!-- Formulario de contacto -->
<section class="bg-contactos py-5">
	<article class="container">
		<form action="" class="row">
			<div class="col-12 mb-3">
				<h3 class="title-form-contacto">Cotiza</h3>
			</div>

			<div class="col-12 col-md-6">
				<input class="input-form-cont" type="text" placeholder="Nombre">
			</div>

			<div class="col-12 col-md-6">
				<input class="input-form-cont" type="text" placeholder="Correo eñectrónico">
			</div>

			<div class="col-12">
				<select class="input-form-cont">
				  <option selected>Elije una opción</option>
				  <option value="1">Venta de becerras para pie de cria</option>
				  <option value="2">Venta de becerros para pie de cria</option>
				  <option value="3">Venta de becerro gordo para rastro</option>
				  <option value="4">Venta de vacas para engorda</option>
				  <option value="5">Venta de becerros para engorda</option>
				</select>
			</div>

			<div class="col-12">
				<textarea name="" id="" class="textarea-form-cont" placeholder="Mensaje"></textarea>
			</div>

			<div class="col-12">
				<button type="submit" class="btn-green">Cotizar</button>
			</div>
		</form>
	</article>
</section>
<!-- /Formulario de contacto -->