<!-- Nivelación de tierras por vía satelital -->
<div *ngIf="rutaActual === 'serv1'">
	<!-- Hero -->
  <section class="hero-sec" 
    style="background-image: url('./assets/imgs/7.webp');">
	    <div class="overlay-hero">
				<div class="animate__animated animate__fadeIn animate__delay-1s wow">
					<h1 class="title-hero">AGRICULTURA</h1>
				    <span class="small-text-hero">Nivelación de tierras por vía satelital</span>
				</div>
			</div>
  </section>

  <!-- Secion de Imagenes -->
	<section class="seccion-space">
		<article class="container">
			<div class="row">
				<div class="col-12 col-md-6 pointer"
				data-bs-toggle="modal" data-bs-target="#img1">
					<img class="w-100 border-radius-img shadow" src="./assets/imgs/7.webp" alt="">
				</div>

				<div class="col-12 col-md-6 pointer"
				data-bs-toggle="modal" data-bs-target="#img2">
					<img class="w-100 border-radius-img shadow" src="./assets/imgs/10.webp" alt="">
				</div>
			</div>
		</article>
	</section>
	<!-- /Seccion de Imagenes -->

  <!-- Descripcion de servicio -->
	<section class="seccion-space">
		<article class="container">
			<div class="row pb-5">
				<div class="col-12 text-center">
					<h3 class="title-seccion">
						Nivelación de tierras por vía satelital
					</h3>
					<span class="title-dec-seccion">
						Servicios especializados agrícolas Rancho Doña Lola
					</span>
				</div>

				<div class="col-12 col-md-8 offset-0 offset-md-2 py-5">
					<p class="texto-grande">
						Hoy en día debido a la crisis que estamos viviendo por falta de agua nos corresponde como agricultores el ayudar a eficientar este valioso recurso, para este problema tenemos una solución que te ayudará a ahorrar agua y eficientar tus riegos hasta un 40%.
					</p>

					<p class="texto-grande">
						La nivelación de tierras por vía satelital vino a suplir la nivelación láser pudiendo nivelar terrenos difíciles y permitiéndoles jugar con la pendiente natural de la parcela donde más o menos inclinación según convenga al cliente.
					</p>
				</div>
		    </div>
		</article>
	</section>
	<!-- /Descripcion de servicio -->

	<!-- Formulario de contacto -->
	<section class="bg-contactos py-5">
		<article class="container">
			<form action="" class="row">
				<div class="col-12 mb-3">
					<h3 class="title-form-contacto">Cotiza nivelación de tierras por vía satelital</h3>
				</div>

				<div class="col-12 col-md-6">
					<input class="input-form-cont" type="text" placeholder="Nombre">
				</div>

				<div class="col-12 col-md-6">
					<input class="input-form-cont" type="text" placeholder="Correo eñectrónico">
				</div>

				<div class="col-12">
					<textarea name="" id="" class="textarea-form-cont" placeholder="Mensaje"></textarea>
				</div>

				<div class="col-12">
					<button type="submit" class="btn-green">Cotizar</button>
				</div>
			</form>
		</article>
	</section>
	<!-- /Formulario de contacto -->
</div>
<!-- /Nivelación de tierras por vía satelital -->

<!-----------------------------------------------------------
*************************************************************
*************************************************************
------------------------------------------------------------>

<!-- Fumigación con dron agricola -->
<div *ngIf="rutaActual === 'serv2'">
  <!-- Hero -->
  <section class="hero-sec" 
    style="background-image: url('./assets/imgs/8.webp');">
	    <div class="overlay-hero">
				<div class="animate__animated animate__fadeIn animate__delay-1s wow">
					<h1 class="title-hero">AGRICULTURA</h1>
				    <span class="small-text-hero">
				    	Fumigación con dron agricola
				    </span>
				</div>
			</div>
  </section>

  <!-- Secion de Imagenes -->
	<section class="seccion-space">
		<article class="container">
			<div class="row">
				<div class="col-12 col-md-6 pointer"
				data-bs-toggle="modal" data-bs-target="#img4">
					<img class="w-100 border-radius-img shadow" src="./assets/imgs/8.webp" alt="">
				</div>

				<div class="col-12 col-md-6 pointer"
				data-bs-toggle="modal" data-bs-target="#img4">
					<img class="w-100 border-radius-img shadow" src="./assets/imgs/10.webp" alt="">
				</div>
			</div>
		</article>
	</section>
	<!-- /Seccion de Imagenes -->

  <!-- Descripcion de servicio -->
	<section class="seccion-space">
		<article class="container">
			<div class="row pb-5">
				<div class="col-12 text-center">
					<h3 class="title-seccion">
						Fumigación con dron agricola
					</h3>
					<span class="title-dec-seccion">
						Servicios especializados agrícolas Rancho Doña Lola
					</span>
				</div>

				<div class="col-12 col-md-8 offset-0 offset-md-2 py-5">
					<p class="texto-grande">
						¿Te gustaría fumigar una hectárea en menos de 10 minutos?, 
            deja de imaginarlo nosotros te ayudamos.
					</p>
				</div>
		    </div>
		</article>
	</section>
	<!-- /Descripcion de servicio -->

	<!-- Formulario de contacto -->
	<section class="bg-contactos py-5">
		<article class="container">
			<form action="" class="row">
				<div class="col-12 mb-3">
					<h3 class="title-form-contacto">Cotiza fumigación con dron agricola</h3>
				</div>

				<div class="col-12 col-md-6">
					<input class="input-form-cont" type="text" placeholder="Nombre">
				</div>

				<div class="col-12 col-md-6">
					<input class="input-form-cont" type="text" placeholder="Correo eñectrónico">
				</div>

				<div class="col-12">
					<textarea name="" id="" class="textarea-form-cont" placeholder="Mensaje"></textarea>
				</div>

				<div class="col-12">
					<button type="submit" class="btn-green">Cotizar</button>
				</div>
			</form>
		</article>
	</section>
	<!-- /Formulario de contacto -->
</div>
<!-- /Fumigación con dron agricola -->

<!-----------------------------------------------------------
*************************************************************
*************************************************************
------------------------------------------------------------>

<!-- Manufactura de ollas de agua -->
<div *ngIf="rutaActual === 'serv3'">
  <!-- Hero -->
  <section class="hero-sec" 
    style="background-image: url('./assets/imgs/9.webp');">
	    <div class="overlay-hero">
				<div class="animate__animated animate__fadeIn animate__delay-1s wow">
					<h1 class="title-hero">AGRICULTURA</h1>
				    <span class="small-text-hero">
				    	Manufactura de ollas de agua con geomembrana
				    </span>
				</div>
			</div>
  </section>

  <!-- Secion de Imagenes -->
	<section class="seccion-space">
		<article class="container">
			<div class="row">
				<div class="col-12 col-md-6 pointer"
				data-bs-toggle="modal" data-bs-target="#img5">
					<img class="w-100 border-radius-img shadow" src="./assets/imgs/9.webp" alt="">
				</div>

				<div class="col-12 col-md-6 pointer"
				data-bs-toggle="modal" data-bs-target="#img5">
					<img class="w-100 border-radius-img shadow" src="./assets/imgs/9.webp" alt="">
				</div>
			</div>
		</article>
	</section>
	<!-- /Seccion de Imagenes -->

  <!-- Descripcion de servicio -->
	<section class="seccion-space">
		<article class="container">
			<div class="row pb-5">
				<div class="col-12 text-center">
					<h3 class="title-seccion">
						Manufactura de ollas de agua con geomembrana
					</h3>
					<span class="title-dec-seccion">
						Servicios especializados agrícolas Rancho Doña Lola
					</span>
				</div>

				<div class="col-12 col-md-8 offset-0 offset-md-2 py-5">
					<p class="texto-grande">
						Guanajuato es uno de los principales estados del país que enfrenta una sequía extrema.
						Debido a esto tener un reservorio de agua para regar las parcelas y no parar la producción es impredecible.
					</p>
				</div>
		  </div>
		</article>
	</section>
	<!-- /Descripcion de servicio -->

	<!-- Formulario de contacto -->
	<section class="bg-contactos py-5">
		<article class="container">
			<form action="" class="row">
				<div class="col-12 mb-3">
					<h3 class="title-form-contacto">
						Cotiza manufactura de ollas de agua con geomembrana
				  </h3>
				</div>

				<div class="col-12 col-md-6">
					<input class="input-form-cont" type="text" placeholder="Nombre">
				</div>

				<div class="col-12 col-md-6">
					<input class="input-form-cont" type="text" placeholder="Correo eñectrónico">
				</div>

				<div class="col-12">
					<textarea name="" id="" class="textarea-form-cont" placeholder="Mensaje"></textarea>
				</div>

				<div class="col-12">
					<button type="submit" class="btn-green">Cotizar</button>
				</div>
			</form>
		</article>
	</section>
	<!-- /Formulario de contacto -->
</div>
<!-- /Manufactura de ollas de agua -->

<!-----------------------------------------------------------
*************************************************************
*************************************************************
------------------------------------------------------------>

<!-- Piloto automatico para tractor -->
<div *ngIf="rutaActual === 'serv4'">
  <!-- Hero -->
  <section class="hero-sec" 
    style="background-image: url('./assets/imgs/9.webp');">
	    <div class="overlay-hero">
				<div class="animate__animated animate__fadeIn animate__delay-1s wow">
					<h1 class="title-hero">AGRICULTURA</h1>
				    <span class="small-text-hero">
				    	Piloto automatico para tractor
				    </span>
				</div>
			</div>
  </section>

  <!-- Secion de Imagenes -->
	<section class="seccion-space">
		<article class="container">
			<div class="row">
				<div class="col-12 col-md-6 pointer"
				data-bs-toggle="modal" data-bs-target="#img5">
					<img class="w-100 border-radius-img shadow" src="./assets/imgs/9.webp" alt="">
				</div>

				<div class="col-12 col-md-6 pointer"
				data-bs-toggle="modal" data-bs-target="#img5">
					<img class="w-100 border-radius-img shadow" src="./assets/imgs/9.webp" alt="">
				</div>
			</div>
		</article>
	</section>
	<!-- /Seccion de Imagenes -->

  <!-- Descripcion de servicio -->
	<section class="seccion-space">
		<article class="container">
			<div class="row pb-5">
				<div class="col-12 text-center">
					<h3 class="title-seccion">
						Piloto automatico para tractor
					</h3>
					<span class="title-dec-seccion">
						Servicios especializados agrícolas Rancho Doña Lola
					</span>
				</div>

				<div class="col-12 col-md-8 offset-0 offset-md-2 py-5">
					<p class="texto-grande">
						El piloto automático para tractor es un sistema que nos permite trazar líneas completamente rectas y a su vez aprovechar más el terreno con 1 o hasta 2 surcos de cultivo.
					</p>
				</div>
		  </div>
		</article>
	</section>
	<!-- /Descripcion de servicio -->

	<!-- Formulario de contacto -->
	<section class="bg-contactos py-5">
		<article class="container">
			<form action="" class="row">
				<div class="col-12 mb-3">
					<h3 class="title-form-contacto">
						Cotiza piloto automatico para tractor
				  </h3>
				</div>

				<div class="col-12 col-md-6">
					<input class="input-form-cont" type="text" placeholder="Nombre">
				</div>

				<div class="col-12 col-md-6">
					<input class="input-form-cont" type="text" placeholder="Correo eñectrónico">
				</div>

				<div class="col-12">
					<textarea name="" id="" class="textarea-form-cont" placeholder="Mensaje"></textarea>
				</div>

				<div class="col-12">
					<button type="submit" class="btn-green">Cotizar</button>
				</div>
			</form>
		</article>
	</section>
	<!-- /Formulario de contacto -->
</div>
<!-- /Piloto automatico para tractor -->

<!-----------------------------------------------------------
*************************************************************
*************************************************************
------------------------------------------------------------>

<!-- Maquila de maquinaria agrícola -->
<div *ngIf="rutaActual === 'serv5'">
  <!-- Hero -->
  <section class="hero-sec" 
    style="background-image: url('./assets/imgs/9.webp');">
	    <div class="overlay-hero">
				<div class="animate__animated animate__fadeIn animate__delay-1s wow">
					<h1 class="title-hero">AGRICULTURA</h1>
				    <span class="small-text-hero">
				    	Maquila de maquinaria agrícola
				    </span>
				</div>
			</div>
  </section>

  <!-- Secion de Imagenes -->
	<section class="seccion-space">
		<article class="container">
			<div class="row">
				<div class="col-12 col-md-6 pointer"
				data-bs-toggle="modal" data-bs-target="#img5">
					<img class="w-100 border-radius-img shadow" src="./assets/imgs/9.webp" alt="">
				</div>

				<div class="col-12 col-md-6 pointer"
				data-bs-toggle="modal" data-bs-target="#img5">
					<img class="w-100 border-radius-img shadow" src="./assets/imgs/9.webp" alt="">
				</div>
			</div>
		</article>
	</section>
	<!-- /Seccion de Imagenes -->

  <!-- Descripcion de servicio -->
	<section class="seccion-space">
		<article class="container">
			<div class="row pb-5">
				<div class="col-12 text-center">
					<h3 class="title-seccion">
						Maquila de maquinaria agrícola
					</h3>
					<span class="title-dec-seccion">
						Servicios especializados agrícolas Rancho Doña Lola
					</span>
				</div>

				<div class="col-12 col-md-8 offset-0 offset-md-2 py-5">
					<p class="texto-grande">
						Una buena preparación de suelos y sus labores posteriores correctamente realizadas nos acercan aún más a obtener alto rendimiento en nuestros cultivos.
            Te ofrecemos servicios en:
					</p>

					<ul>
						<li class="testo-grande">Barbecho</li>
						<li class="testo-grande">Rastreado</li>
						<li class="testo-grande">Surcado</li>
						<li class="testo-grande">Sembrado</li>
						<li class="testo-grande">Cultivado</li>
						<li class="testo-grande">Abonado </li>
						<li class="testo-grande">Fumigación</li>
						<li class="testo-grande">Nivelación</li>
					</ul>
				</div>
		  </div>
		</article>
	</section>
	<!-- /Descripcion de servicio -->

	<!-- Formulario de contacto -->
	<section class="bg-contactos py-5">
		<article class="container">
			<form action="" class="row">
				<div class="col-12 mb-3">
					<h3 class="title-form-contacto">
						Cotiza maquila de maquinaria agrícola
				  </h3>
				</div>

				<div class="col-12 col-md-6">
					<input class="input-form-cont" type="text" placeholder="Nombre">
				</div>

				<div class="col-12 col-md-6">
					<input class="input-form-cont" type="text" placeholder="Correo eñectrónico">
				</div>

				<div class="col-12">
					<textarea name="" id="" class="textarea-form-cont" placeholder="Mensaje"></textarea>
				</div>

				<div class="col-12">
					<button type="submit" class="btn-green">Cotizar</button>
				</div>
			</form>
		</article>
	</section>
	<!-- /Formulario de contacto -->
</div>
<!-- /Maquila de maquinaria agrícola -->



<!-- Boton Flotante Whatsapp -->
<a href="https://api.whatsapp.com/send?phone=4422038783&text=Quiero%20m%C3%A1s%20informaci%C3%B3n%20sobre%20ganader%C3%ADa" 
class="btn boton-flotante animate__animated animate__pulse animate__infinite" 
[class.hide]="isScrolledToBottom">
	<i class="fa-brands fa-whatsapp"></i>
</a>
<!-- /Boton Flotante Whatsapp -->



<!-- Modales -->
<!-- Modal Img 1 -->
<div class="modal fade" id="img1" tabindex="-1" aria-labelledby="img1Label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
        <button type="button" class="btn-close" data-bs-dismiss="modal">
        	<span class="material-symbols-outlined">close</span>
        </button>
        <img class="w-100 border-radius-img shadow" src="./assets/imgs/7.webp" alt="">
    </div>
  </div>
</div>


<!-- Modal Img 2 -->
<div class="modal fade" id="img2" tabindex="-1" aria-labelledby="img1Label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
        <button type="button" class="btn-close" data-bs-dismiss="modal">
        	<span class="material-symbols-outlined">close</span>
        </button>
        <img class="w-100 border-radius-img shadow" src="./assets/imgs/10.webp" alt="">
    </div>
  </div>
</div>


<!-- Modal Img 3 -->
<div class="modal fade" id="img3" tabindex="-1" aria-labelledby="img1Label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
        <button type="button" class="btn-close" data-bs-dismiss="modal">
        	<span class="material-symbols-outlined">close</span>
        </button>
        <img class="w-100 border-radius-img shadow" src="./assets/imgs/8.webp" alt="">
    </div>
  </div>
</div>


<!-- Modal Img 4 -->
<div class="modal fade" id="img4" tabindex="-1" aria-labelledby="img1Label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
        <button type="button" class="btn-close" data-bs-dismiss="modal">
        	<span class="material-symbols-outlined">close</span>
        </button>
        <img class="w-100 border-radius-img shadow" src="./assets/imgs/10.webp" alt="">
    </div>
  </div>
</div>


<!-- Modal Img 5 -->
<div class="modal fade" id="img5" tabindex="-1" aria-labelledby="img1Label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
        <button type="button" class="btn-close" data-bs-dismiss="modal">
        	<span class="material-symbols-outlined">close</span>
        </button>
        <img class="w-100 border-radius-img shadow" src="./assets/imgs/10.webp" alt="">
    </div>
  </div>
</div>